@model IEnumerable<com.vreshly.Dtos.OrderToReturnDto>
<div class="content-body">
    <section id="basic-datatable">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-header border-bottom">
                        <h4 class="card-title"> @ViewBag.PageName</h4>
                    </div>
                    <div class="card-body">
                        <table id="dt_basic" class="table">
                            <thead>
                                <tr>
                                    <th>Payment Type</th>
                                    <th>Transaction Id</th>
                                    <th>Subtotal</th>
                                    <th>Shipping</th>
                                    <th>Total</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="products">
                                @if (Model.Any())
                                {
                                    //int count = 1;
                                    foreach (var order in Model)
                                    {
                                        <tr>

                                            @* <td>@(count++)</td> *@
                                            <td>@order.PaymentMethod</td>
                                            <td>@order.PaymentIntentId</td>
                                            <td>@order.Subtotal</td>
                                            <td>@order.ShippingPrice</td>
                                            <td>@order.Total</td>
                                            <td>@order.OrderDateFormated</td>
                                            <td>@order.ActualOrderStatus</td>
                                            <td>
                                                <a asp-action="OrderDetails" asp-controller="AdminOrder" asp-route-pi="@order.PaymentIntentId" asp-route-returnUrl="@ViewBag.returnUrl" asp-route-pg="@ViewBag.PageName">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text mr-50 font-small-4">
                                                                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                                                <polyline points="14 2 14 8 20 8"></polyline>
                                                                <line x1="16" y1="13" x2="8" y2="13"></line>
                                                                <line x1="16" y1="17" x2="8" y2="17"></line>
                                                                <polyline points="10 9 9 9 8 9"></polyline>
                                                    </svg>Details
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal to add new record -->

  

    </section>
</div>

@section HeaderScripts {
    <link rel="stylesheet" type="text/css" href="~/assets/vendors/css/tables/datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendors/css/tables/datatable/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendors/css/tables/datatable/buttons.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendors/css/tables/datatable/rowGroup.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendors/css/pickers/flatpickr/flatpickr.min.css">
}

@section FooterScripts{
    <script src="~/assets/vendors/js/tables/datatable/jquery.dataTables.min.js"></script>
    <script src="~/assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js"></script>
    <script src="~/assets/vendors/js/tables/datatable/dataTables.responsive.min.js"></script>
    <script src="~/assets/vendors/js/tables/datatable/responsive.bootstrap4.js"></script>
    <script src="~/assets/vendors/js/tables/datatable/datatables.checkboxes.min.js"></script>
    <script src="~/assets/vendors/js/tables/datatable/datatables.buttons.min.js"></script>
    <script src="~/assets/vendors/js/tables/datatable/jszip.min.js"></script>
    <script src="~/assets/vendors/js/tables/datatable/pdfmake.min.js"></script>
    <script src="~/assets/vendors/js/tables/datatable/vfs_fonts.js"></script>
    <script src="~/assets/vendors/js/tables/datatable/buttons.html5.min.js"></script>
    <script src="~/assets/vendors/js/tables/datatable/buttons.print.min.js"></script>
    <script src="~/assets/vendors/js/tables/datatable/dataTables.rowGroup.min.js"></script>
    <script src="~/assets/js/scripts/tables/table-datatables-basic.js"></script>
    <script src="~/js/product.js"></script>

} 